# URL base da API da aplicação
API_URL=http://localhost:3000

# URL de conexão com o banco de dados MySQL
DATABASE_URL=mysql://user:password@localhost:3306/company_db

# Credenciais do usuário user do banco de dados
DB_ROOT_USER=user
DB_ROOT_PASSWORD=password


JWT_SECRET=senhasupersecreta