# URL de conexão com o banco de dados MySQL
DATABASE_URL=mysql://root:password@localhost:3306/company_db

# Credenciais do usuário root do banco de dados
# Database
DB_HOST=company_db
DB_PORT=3306
DB_USERNAME=app_user
DB_PASSWORD=password
DB_DATABASE=company_db
DB_ROOT_PASSWORD=password

